* {
    font-family: 'Gotu', sans-serif;
}

.home-logo {
    widht:100px;
    height:100px
}

.services-logo {
    width:50px;
    height:50px;
}

.gown-img {
    width: auto; 
    height: 20rem;
}

.about-img {
    width:250px;
    height:250px;
    object-fit:cover;
}

.about-logo {
    width:25px;
    height:25px;
}

.collection-table > tbody > tr > th > a {
    color: #ea728c;
}

.collection-img {
    width: auto; 
    height: 20rem;
}

a.collection-text {
    color:#ea728c;
}

nav > ul > li.page-item > a{
    color:#ea728c;
}

div.contact-details > p  {
    margin-bottom:0;
    margin-top: 0;
}
.input-underline, select, textarea{
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ea728c; 


}

label, input, select, option, textarea{
    font-size: .8rem;    
}

.all-button {
    color: #343a40;
    border-color: #EF8D8C;
}

.all-button:hover {
    color: #fff;
    background-color: #EF8D8C;
    border-color: #EF8D8C;
  }

  .pink-text {
    color:#ea728c; 
  }

  .pink-text:hover {
    color: black;
  }
